ul.list-unstyled.inlineColumns {
    width: 50px;
    display: inline-block;
}

ul.list-unstyled.inline li:hover {
    cursor: pointer;
    color: #141619;
    background-color: #d3d3d4;
    border-color: #bcbebf;
}

#calledList {
    min-height: 55px;
    overflow-y: auto;
}

#player1 [data-rowid]:hover {
    cursor: pointer;
    background-color: #999;
}

@media (max-width: 768px) {
    li {
        font-size: 1.2rem;
    }
}

/*end 768*/